<div class="h-screen" layout="column">

  <md-toolbar class="toolbar-default" id="feeListPage">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button"
        aria-label="Back"
        onclick="history.back()" type="button"
        title="Back">
        <md-icon md-font-icon="fa fa-arrow-left"></md-icon>
      </md-button>
      <h2>
        <span translate>Profiles</span>
      </h2>
      <span flex></span>
    </div>
  </md-toolbar>
  
  <md-content flex>
    <md-card flex>
      <md-card-content>
        <form ng-submit="">

          <md-input-container flex="30" class="mb-0">
            <label>Name</label>
            <input ng-model="searchForm.description" type="text" />
          </md-input-container>

          <md-button class="md-raised md-primary md-hue-1">
            <label translate>Search</label>
          </md-button>

        </form>

        <md-divider class="my-3"></md-divider>

        <md-data-table-container>
          <table md-data-table class="md-primary md-data-table" flex layout="column">
            <thead md-order="query.order">
              <tr flex class="justify-between">
                <th name="#" >#</th>
                <th name="Name">Name</th>
                <th name="Name">Name</th>
                <th name="Name">Name</th>
                <th name="Name">Name</th>
                <th name="Name">Name</th>
              </tr>
            </thead>
            <tbody>
              <tr md-auto-select ng-repeat="profile in profiles" flex class="justify-between">
                <td>{{$index + 1}}</td>
                <td>{{profile.name}}</td>
                <td>{{$index + ' hey'}}</td>
                <td>{{$index + ' hey'}}</td>
                <td>{{$index + ' hey'}}</td>
                <td>
                  <a href="javascript:void(0)" ng-click="">
                    <md-icon md-font-icon="fa fa-edit md-primary"></md-icon>
                  </a>
                  &nbsp;
                  <a href="javascript:void(0)" ng-click="">
                    <md-icon md-font-icon="fa fa-trash-o md-warn"></md-icon>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </md-data-table-container>

        <md-data-table-pagination md-limit="pagination.pageSize" md-page="pagination.currentPageNumber" md-total="{{pagination.totalItems}}"
          md-trigger="onChange">
        </md-data-table-pagination>

      </md-card-content>

    </md-card>
  </md-content>

</div>