<form class="h-screen w-screen overflow-hidden">

  <!-- Basic Info -->
  <div class="h-screen flex flex-col justify-center items-stretch p-4 bg-blue-500" id="basicInfo">
    <label class="mx-auto text-3xl font-extrabold">Basic Info</label>

    <div class="w-full flex flex-col">
      <label for="name" class="font-bold">Name</label>
      <input type="text" id="name" name="name"
        class="form-control" />
    </div>

    <div class="w-full flex flex-col">
      <label for="sport" class="font-bold">Sport</label>
      <select name="sport" id="sport" class="form-control">
        <option ng-repeat="sport in sports">{{sport}}</option>
      </select>
    </div>

    <div class="w-full flex flex-col">
      <label for="nationality" class="font-bold">Nationality</label>
      <input type="text" id="nationality" name="nationality"
        class="form-control" />
    </div>

    <div class="w-full flex flex-col">
      <label for="gender" class="font-bold">Gender</label>
      <select name="gender" id="gender" class="form-control">
        <option ng-repeat="gender in genders">{{gender}}</option>
      </select>
    </div>

    <div class="w-full flex flex-col">
      <label for="dob" class="font-bold">Date of Birth</label>
      <input type="date" id="dob" name="dob"
        class="form-control" />
    </div>

    <!-- Navigation -->
    <div class="flex justify-center py-2">
      <a href="#about"
        class="block form-control text-center border-2 border-black">
        Next
      </a>
    </div>
    <!-- End Navigation -->

  </div>
  <!-- End Basic Info -->

  <!-- About -->
  <div class="h-screen flex flex-col justify-center items-stretch p-4 bg-blue-500" id="about">
    <label class="mx-auto text-3xl font-extrabold">About</label>

    <div class="w-full flex flex-col">
      <label for="description" class="font-bold">Description</label>
      <input type="text" id="description" name="description" class="form-control" />
    </div>

    <div class="w-full flex flex-col">
      <label for="location" class="font-bold">Location</label>
      <input type="text" id="location" name="location" class="form-control" />
    </div>

    <div class="w-full flex flex-col">
      <label for="team" class="font-bold form-control">Team</label>
      <select name="team" id="team">
        <option ng-repeat="team in teams">{{team}}</option>
      </select>
    </div>

    <!-- Navigation -->
    <div class="flex justify-center py-2">
      <a href="#basicInfo"
        class="block form-control text-center border-2 border-black mr-6">
        Previous
      </a>
      <a href="#socialMedia"
        class="block form-control text-center border-2 border-black">
        Next
      </a>
    </div>
    <!-- End Navigation -->

  </div>
  <!-- End About -->

  <!-- Social Media -->
  <div class="h-screen flex flex-col justify-center items-stretch p-4 bg-blue-500" id="socialMedia">
    <label class="mx-auto text-3xl font-extrabold">Social Media</label>

    <div class="w-full flex flex-col">
      <label for="facebook" class="font-bold">Facebook</label>
      <input type="url" id="facebook" name="facebook" class="form-control" />
    </div>

    <div class="w-full flex flex-col">
      <label for="twitter" class="font-bold">Twitter</label>
      <input type="url" id="twitter" name="twitter" class="form-control" />
    </div>

    <div class="w-full flex flex-col">
      <label for="snapchat" class="font-bold">Snapchat</label>
      <input type="url" id="snapchat" name="snapchat" class="form-control" />
    </div>

    <div class="w-full flex flex-col">
      <label for="facebook" class="font-bold">Facebook</label>
      <input type="url" id="facebook" name="facebook" class="form-control" />
    </div>

    <!-- Navigation -->
    <div class="flex justify-center py-2">
      <a href="#about"
        class="block form-control text-center border-2 border-black mr-6">
        Previous
      </a>
      <a href="#summary"
        class="block form-control text-center border-2 border-black">
        Next
      </a>
    </div>
    <!-- End Navigation -->

  </div>
  <!-- End Social Media -->

  <!-- Summary -->
  <div class="h-screen flex flex-col justify-center items-stretch p-4 bg-blue-500" id="summary">
    <label class="mx-auto text-3xl font-extrabold">Summary</label>

    <div class="w-full flex flex-col">
      <label for="name" class="font-bold">Name</label>
      <input type="text" id="name" name="name" />
    </div>

    <div class="w-full flex flex-col">
      <label for="sport" class="font-bold">Sport</label>
      <select name="sport" id="sport">
        <option ng-repeat="sport in sports">{{sport}}</option>
      </select>
    </div>

    <div class="w-full flex flex-col">
      <label for="nationality" class="font-bold">Nationality</label>
      <input type="text" id="nationality" name="nationality" />
    </div>

    <div class="w-full flex flex-col">
      <label for="gender" class="font-bold">Gender</label>
      <select name="gender" id="gender">
        <option ng-repeat="gender in genders">{{gender}}</option>
      </select>
    </div>

    <div class="w-full flex flex-col">
      <label for="dob" class="font-bold">Date of Birth</label>
      <input type="date" id="dob" name="dob" />
    </div>

    <!-- Navigation -->
    <div class="flex justify-center py-2">
      <a href="#socialMedia"
        class="block form-control text-center border-2 border-black mr-6">
        Previous
      </a>
      <input type="submit"
        class="block form-control text-center border-2 border-black"
        value="Submit"
      />
    </div>
    <!-- End Navigation -->

  </div>
  <!-- End Summary -->

</form>